{% extends 'base.html' %}

{% block page_content %}
	<div id="content-div" class="container-fluid">

		<div id="img-bg" class="img-responsive col-md-4">

		<div id="jumbo" class="jumbotron img-responsive">
            <h1>APPROVED IN 10MINS</h1>
            <p>We processes the fastest credit in the universe!</p>
			<p>Get a loan from us in 10mins</p>
            <button class=" btn btn-primary btn-lg" ><a href="#" >Learn more</a></button>
	</div>
	</div>

	</div>


{% endblock %}

{% block footer %}
	{{ super() }}
{% endblock %}